<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_RESTRICTION_MGMT"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_CUSTOM_SETTING" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_CUSTOM_SYSTEM" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ADVANCED_RESTRICTION" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_PHONE_RESTRICTION" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_SIM_RESTRICTION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>