<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_RESTRICTION_MGMT"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ADVANCED_RESTRICTION" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ENHANCED_ATTESTATION" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_AUDIT_LOG" />
</manifest>