<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Policy requirement for camera -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- Policy requirement for camera -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
    <!-- Policy requirement for camera autofocus -->
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <!-- Policy requirement for depth camera -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.depth" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Permission to use the camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".RootApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnoxModuleShowcase"
        tools:targetApi="34">

        <meta-data android:name="com.google.ar.core" android:value="optional" />
        <!-- <meta-data android:name="com.google.ar.core.min_apk_version" android:value="210910000" /> -->
        <!-- ARCore InstallActivity -->
        <activity
            android:name="com.google.ar.core.InstallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Material.Light.Dialog.Alert" />

        <activity
            android:name=".app.presentation.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.KnoxModuleShowcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".features.network_manager.domain.service.NetworkMonitorService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground service used for network monitoring and managing of USB
                connected devices"/>
        </service>
        <receiver
            android:name=".app.receivers.AdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:testOnly="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.app.action.PROFILE_OWNER_CHANGED" />
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>